@import "tailwindcss";

:root {
    --tapsi-palette-black: #000000;
    --tapsi-palette-white: #ffffff;
    --tapsi-palette-gray-50: #f5f7f7;
    --tapsi-palette-gray-100: #eaeded;
    --tapsi-palette-gray-200: #e1e3e3;
    --tapsi-palette-gray-300: #cacccc;
    --tapsi-palette-gray-400: #b1b2b2;
    --tapsi-palette-gray-500: #747575;
    --tapsi-palette-gray-600: #535454;
    --tapsi-palette-gray-700: #323333;
    --tapsi-palette-gray-800: #323333;
    --tapsi-palette-gray-900: #141414;
    --tapsi-palette-orange-50: #fff0e9;
    --tapsi-palette-orange-100: #ffd5c2;
    --tapsi-palette-orange-200: #ffac8a;
    --tapsi-palette-orange-300: #ff8c61;
    --tapsi-palette-orange-400: #ff7140;
    --tapsi-palette-orange-500: #e55c2e;
    --tapsi-palette-orange-600: #a64221;
    --tapsi-palette-orange-700: #662a14;
    --tapsi-palette-orange-800: #662a14;
    --tapsi-palette-orange-900: #422e28;
    --tapsi-palette-blue-50: #eff3fe;
    --tapsi-palette-blue-100: #d4e2fc;
    --tapsi-palette-blue-200: #a0bff8;
    --tapsi-palette-blue-300: #5b91f5;
    --tapsi-palette-blue-400: #276ef1;
    --tapsi-palette-blue-500: #1e54b7;
    --tapsi-palette-blue-600: #174291;
    --tapsi-palette-blue-700: #143166;
    --tapsi-palette-blue-800: #143166;
    --tapsi-palette-blue-900: #262f40;
    --tapsi-palette-green-50: #e6f2ed;
    --tapsi-palette-green-100: #addec9;
    --tapsi-palette-green-200: #66d19e;
    --tapsi-palette-green-300: #06c167;
    --tapsi-palette-green-400: #048848;
    --tapsi-palette-green-500: #03703c;
    --tapsi-palette-green-600: #03582f;
    --tapsi-palette-green-700: #10462d;
    --tapsi-palette-green-800: #10462d;
    --tapsi-palette-green-900: #24332c;
    --tapsi-palette-yellow-50: #fffaf0;
    --tapsi-palette-yellow-100: #fff2d9;
    --tapsi-palette-yellow-200: #ffe3ac;
    --tapsi-palette-yellow-300: #ffcf70;
    --tapsi-palette-yellow-400: #ffc043;
    --tapsi-palette-yellow-500: #e49e15;
    --tapsi-palette-yellow-600: #996f00;
    --tapsi-palette-yellow-700: #674d1b;
    --tapsi-palette-yellow-800: #674d1b;
    --tapsi-palette-yellow-900: #332e24;
    --tapsi-palette-red-50: #ffefed;
    --tapsi-palette-red-100: #fed7d2;
    --tapsi-palette-red-200: #f1998e;
    --tapsi-palette-red-300: #e85c4a;
    --tapsi-palette-red-400: #e11900;
    --tapsi-palette-red-500: #ab1300;
    --tapsi-palette-red-600: #870f00;
    --tapsi-palette-red-700: #5a0a00;
    --tapsi-palette-red-800: #5a0a00;
    --tapsi-palette-red-900: #402926;
    --tapsi-palette-indigo-50: #F3F2FE;
    --tapsi-palette-indigo-100: #C6C0F9;
    --tapsi-palette-indigo-200: #9B90F2;
    --tapsi-palette-indigo-300: #7163E8;
    --tapsi-palette-indigo-400: #4A38DB;
    --tapsi-palette-indigo-500: #483AB8;
    --tapsi-palette-indigo-600: #443997;
    --tapsi-palette-indigo-700: #3D3678;
    --tapsi-palette-indigo-800: #3D3678;
    --tapsi-palette-indigo-900: #2C2942;
    --tapsi-color-brand: var(--tapsi-palette-orange-400);
    --tapsi-color-surface-black: var(--tapsi-palette-black);
    --tapsi-color-surface-white: var(--tapsi-palette-white);
    --tapsi-color-surface-primary: var(--tapsi-palette-white);
    --tapsi-color-surface-secondary: var(--tapsi-palette-gray-50);
    --tapsi-color-surface-tertiary: var(--tapsi-palette-gray-100);
    --tapsi-color-surface-disabled: var(--tapsi-palette-gray-50);
    --tapsi-color-surface-accent: var(--tapsi-palette-blue-400);
    --tapsi-color-surface-accent-light: var(--tapsi-palette-blue-50);
    --tapsi-color-surface-negative: var(--tapsi-palette-red-400);
    --tapsi-color-surface-negative-light: var(--tapsi-palette-red-50);
    --tapsi-color-surface-warning: var(--tapsi-palette-yellow-400);
    --tapsi-color-surface-warning-light: var(--tapsi-palette-yellow-50);
    --tapsi-color-surface-positive: var(--tapsi-palette-green-400);
    --tapsi-color-surface-positive-light: var(--tapsi-palette-green-50);
    --tapsi-color-surface-background-primary: var(--tapsi-palette-gray-50);
    --tapsi-color-surface-background-secondary: var(--tapsi-palette-gray-100);
    --tapsi-color-surface-inverse-primary: var(--tapsi-palette-black);
    --tapsi-color-surface-inverse-secondary: var(--tapsi-palette-gray-700);
    --tapsi-color-surface-overlay-dark: #0000004d;
    --tapsi-color-surface-overlay-light: #0000001f;
    --tapsi-color-content-primary: var(--tapsi-palette-black);
    --tapsi-color-content-secondary: var(--tapsi-palette-gray-600);
    --tapsi-color-content-tertiary: var(--tapsi-palette-gray-500);
    --tapsi-color-content-disabled: var(--tapsi-palette-gray-400);
    --tapsi-color-content-accent: var(--tapsi-palette-blue-400);
    --tapsi-color-content-negative: var(--tapsi-palette-red-400);
    --tapsi-color-content-warning: var(--tapsi-palette-yellow-500);
    --tapsi-color-content-positive: var(--tapsi-palette-green-400);
    --tapsi-color-content-on-inverse: var(--tapsi-palette-white);
    --tapsi-color-content-on-brand: var(--tapsi-palette-white);
    --tapsi-color-content-on-accent: var(--tapsi-palette-white);
    --tapsi-color-content-on-negative: var(--tapsi-palette-white);
    --tapsi-color-content-on-warning: var(--tapsi-palette-black);
    --tapsi-color-content-on-positive: var(--tapsi-palette-white);
    --tapsi-color-border-primary: var(--tapsi-palette-gray-200);
    --tapsi-color-border-selected: var(--tapsi-palette-gray-700);
    --tapsi-color-border-focus: var(--tapsi-palette-gray-700);
    --tapsi-color-border-accent: var(--tapsi-palette-blue-200);
    --tapsi-color-border-negative: var(--tapsi-palette-red-200);
    --tapsi-color-border-positive: var(--tapsi-palette-green-200);
    --tapsi-color-border-warning: var(--tapsi-palette-yellow-200);
    --tapsi-color-border-inverse-primary: var(--tapsi-palette-gray-700);
    --tapsi-color-gradient-surface-brand: linear-gradient(91.39deg,#ff7733 0%,#ff5722 50.15%,#e64917 100%);
    --tapsi-color-gradient-surface-brand-light: linear-gradient(90deg, #FFF0E9 0%, #F4F1F0 100%);
    --tapsi-typography-font-family: var(--font-vazirmatn), sans-serif;
    --tapsi-typography-body-xs-font: var(--tapsi-typography-font-family);
    --tapsi-typography-body-xs-size: 0.75rem;
    --tapsi-typography-body-xs-height: 1.6666666667;
    --tapsi-typography-body-xs-weight: 400;
    --tapsi-typography-body-sm-font: var(--tapsi-typography-font-family);
    --tapsi-typography-body-sm-size: 0.875rem;
    --tapsi-typography-body-sm-height: 1.7142857143;
    --tapsi-typography-body-sm-weight: 400;
    --tapsi-typography-body-md-font: var(--tapsi-typography-font-family);
    --tapsi-typography-body-md-size: 1rem;
    --tapsi-typography-body-md-height: 1.75;
    --tapsi-typography-body-md-weight: 400;
    --tapsi-typography-body-lg-font: var(--tapsi-typography-font-family);
    --tapsi-typography-body-lg-size: 1.125rem;
    --tapsi-typography-body-lg-height: 1.7777777778;
    --tapsi-typography-body-lg-weight: 400;
    --tapsi-typography-label-xxs-font: var(--tapsi-typography-font-family);
    --tapsi-typography-label-xxs-size: 0.625rem;
    --tapsi-typography-label-xxs-height: 1.6;
    --tapsi-typography-label-xxs-weight: 500;
    --tapsi-typography-label-xs-font: var(--tapsi-typography-font-family);
    --tapsi-typography-label-xs-size: 0.75rem;
    --tapsi-typography-label-xs-height: 2;
    --tapsi-typography-label-xs-weight: 500;
    --tapsi-typography-label-sm-font: var(--tapsi-typography-font-family);
    --tapsi-typography-label-sm-size: 0.875rem;
    --tapsi-typography-label-sm-height: 1.7142857143;
    --tapsi-typography-label-sm-weight: 500;
    --tapsi-typography-label-md-font: var(--tapsi-typography-font-family);
    --tapsi-typography-label-md-size: 1rem;
    --tapsi-typography-label-md-height: 1.75;
    --tapsi-typography-label-md-weight: 500;
    --tapsi-typography-label-lg-font: var(--tapsi-typography-font-family);
    --tapsi-typography-label-lg-size: 1.125rem;
    --tapsi-typography-label-lg-height: 1.7777777778;
    --tapsi-typography-label-lg-weight: 500;
    --tapsi-typography-headline-xs-font: var(--tapsi-typography-font-family);
    --tapsi-typography-headline-xs-size: 1rem;
    --tapsi-typography-headline-xs-height: 1.5;
    --tapsi-typography-headline-xs-weight: 600;
    --tapsi-typography-headline-sm-font: var(--tapsi-typography-font-family);
    --tapsi-typography-headline-sm-size: 1.25rem;
    --tapsi-typography-headline-sm-height: 1.5;
    --tapsi-typography-headline-sm-weight: 600;
    --tapsi-typography-headline-md-font: var(--tapsi-typography-font-family);
    --tapsi-typography-headline-md-size: 1.5rem;
    --tapsi-typography-headline-md-height: 1.5;
    --tapsi-typography-headline-md-weight: 600;
    --tapsi-typography-headline-lg-font: var(--tapsi-typography-font-family);
    --tapsi-typography-headline-lg-size: 1.75rem;
    --tapsi-typography-headline-lg-height: 1.5;
    --tapsi-typography-headline-lg-weight: 600;
    --tapsi-typography-display-sm-font: var(--tapsi-typography-font-family);
    --tapsi-typography-display-sm-size: 2rem;
    --tapsi-typography-display-sm-height: 1.5;
    --tapsi-typography-display-sm-weight: 600;
    --tapsi-typography-display-md-font: var(--tapsi-typography-font-family);
    --tapsi-typography-display-md-size: 2.5rem;
    --tapsi-typography-display-md-height: 1.5;
    --tapsi-typography-display-md-weight: 600;
    --tapsi-typography-display-lg-font: var(--tapsi-typography-font-family);
    --tapsi-typography-display-lg-size: 3rem;
    --tapsi-typography-display-lg-height: 1.5;
    --tapsi-typography-display-lg-weight: 600;
}

@theme inline {
    --color-palette-black: var(--tapsi-palette-black);
    --color-palette-white: var(--tapsi-palette-white);
    --color-palette-gray-50: var(--tapsi-palette-gray-50);
    --color-palette-gray-100: var(--tapsi-palette-gray-100);
    --color-palette-gray-200: var(--tapsi-palette-gray-200);
    --color-palette-gray-300: var(--tapsi-palette-gray-300);
    --color-palette-gray-400: var(--tapsi-palette-gray-400);
    --color-palette-gray-500: var(--tapsi-palette-gray-500);
    --color-palette-gray-600: var(--tapsi-palette-gray-600);
    --color-palette-gray-700: var(--tapsi-palette-gray-700);
    --color-palette-gray-800: var(--tapsi-palette-gray-800);
    --color-palette-gray-900: var(--tapsi-palette-gray-900);
    --color-palette-orange-50: var(--tapsi-palette-orange-50);
    --color-palette-orange-100: var(--tapsi-palette-orange-100);
    --color-palette-orange-200: var(--tapsi-palette-orange-200);
    --color-palette-orange-300: var(--tapsi-palette-orange-300);
    --color-palette-orange-400: var(--tapsi-palette-orange-400);
    --color-palette-orange-500: var(--tapsi-palette-orange-500);
    --color-palette-orange-600: var(--tapsi-palette-orange-600);
    --color-palette-orange-700: var(--tapsi-palette-orange-700);
    --color-palette-orange-800: var(--tapsi-palette-orange-800);
    --color-palette-orange-900: var(--tapsi-palette-orange-900);
    --color-palette-blue-50: var(--tapsi-palette-blue-50);
    --color-palette-blue-100: var(--tapsi-palette-blue-100);
    --color-palette-blue-200: var(--tapsi-palette-blue-200);
    --color-palette-blue-300: var(--tapsi-palette-blue-300);
    --color-palette-blue-400: var(--tapsi-palette-blue-400);
    --color-palette-blue-500: var(--tapsi-palette-blue-500);
    --color-palette-blue-600: var(--tapsi-palette-blue-600);
    --color-palette-blue-700: var(--tapsi-palette-blue-700);
    --color-palette-blue-800: var(--tapsi-palette-blue-800);
    --color-palette-blue-900: var(--tapsi-palette-blue-900);
    --color-palette-green-50: var(--tapsi-palette-green-50);
    --color-palette-green-100: var(--tapsi-palette-green-100);
    --color-palette-green-200: var(--tapsi-palette-green-200);
    --color-palette-green-300: var(--tapsi-palette-green-300);
    --color-palette-green-400: var(--tapsi-palette-green-400);
    --color-palette-green-500: var(--tapsi-palette-green-500);
    --color-palette-green-600: var(--tapsi-palette-green-600);
    --color-palette-green-700: var(--tapsi-palette-green-700);
    --color-palette-green-800: var(--tapsi-palette-green-800);
    --color-palette-green-900: var(--tapsi-palette-green-900);
    --color-palette-yellow-50: var(--tapsi-palette-yellow-50);
    --color-palette-yellow-100: var(--tapsi-palette-yellow-100);
    --color-palette-yellow-200: var(--tapsi-palette-yellow-200);
    --color-palette-yellow-300: var(--tapsi-palette-yellow-300);
    --color-palette-yellow-400: var(--tapsi-palette-yellow-400);
    --color-palette-yellow-500: var(--tapsi-palette-yellow-500);
    --color-palette-yellow-600: var(--tapsi-palette-yellow-600);
    --color-palette-yellow-700: var(--tapsi-palette-yellow-700);
    --color-palette-yellow-800: var(--tapsi-palette-yellow-800);
    --color-palette-yellow-900: var(--tapsi-palette-yellow-900);
    --color-palette-red-50: var(--tapsi-palette-red-50);
    --color-palette-red-100: var(--tapsi-palette-red-100);
    --color-palette-red-200: var(--tapsi-palette-red-200);
    --color-palette-red-300: var(--tapsi-palette-red-300);
    --color-palette-red-400: var(--tapsi-palette-red-400);
    --color-palette-red-500: var(--tapsi-palette-red-500);
    --color-palette-red-600: var(--tapsi-palette-red-600);
    --color-palette-red-700: var(--tapsi-palette-red-700);
    --color-palette-red-800: var(--tapsi-palette-red-800);
    --color-palette-red-900: var(--tapsi-palette-red-900);
    --color-palette-indigo-50: var(--tapsi-palette-indigo-50);
    --color-palette-indigo-100: var(--tapsi-palette-indigo-100);
    --color-palette-indigo-200: var(--tapsi-palette-indigo-200);
    --color-palette-indigo-300: var(--tapsi-palette-indigo-300);
    --color-palette-indigo-400: var(--tapsi-palette-indigo-400);
    --color-palette-indigo-500: var(--tapsi-palette-indigo-500);
    --color-palette-indigo-600: var(--tapsi-palette-indigo-600);
    --color-palette-indigo-700: var(--tapsi-palette-indigo-700);
    --color-palette-indigo-800: var(--tapsi-palette-indigo-800);
    --color-palette-indigo-900: var(--tapsi-palette-indigo-900);
    --color-brand: var(--tapsi-color-brand);
    --color-surface-black: var(--tapsi-color-surface-black);
    --color-surface-white: var(--tapsi-color-surface-white);
    --color-surface-primary: var(--tapsi-color-surface-primary);
    --color-surface-secondary: var(--tapsi-color-surface-secondary);
    --color-surface-tertiary: var(--tapsi-color-surface-tertiary);
    --color-surface-disabled: var(--tapsi-color-surface-disabled);
    --color-surface-accent: var(--tapsi-color-surface-accent);
    --color-surface-accent-light: var(--tapsi-color-surface-accent-light);
    --color-surface-negative: var(--tapsi-color-surface-negative);
    --color-surface-negative-light: var(--tapsi-color-surface-negative-light);
    --color-surface-warning: var(--tapsi-color-surface-warning);
    --color-surface-warning-light: var(--tapsi-color-surface-warning-light);
    --color-surface-positive: var(--tapsi-color-surface-positive);
    --color-surface-positive-light: var(--tapsi-color-surface-positive-light);
    --color-surface-background-primary: var(--tapsi-color-surface-background-primary);
    --color-surface-background-secondary: var(--tapsi-color-surface-background-secondary);
    --color-surface-inverse-primary: var(--tapsi-color-surface-inverse-primary);
    --color-surface-inverse-secondary: var(--tapsi-color-surface-inverse-secondary);
    --color-surface-overlay-dark: var(--tapsi-color-surface-overlay-dark);
    --color-surface-overlay-light: var(--tapsi-color-surface-overlay-light);
    --color-content-primary: var(--tapsi-color-content-primary);
    --color-content-secondary: var(--tapsi-color-content-secondary);
    --color-content-tertiary: var(--tapsi-color-content-tertiary);
    --color-content-disabled: var(--tapsi-color-content-disabled);
    --color-content-accent: var(--tapsi-color-content-accent);
    --color-content-negative: var(--tapsi-color-content-negative);
    --color-content-warning: var(--tapsi-color-content-warning);
    --color-content-positive: var(--tapsi-color-content-positive);
    --color-content-on-inverse: var(--tapsi-color-content-on-inverse);
    --color-content-on-brand: var(--tapsi-color-content-on-brand);
    --color-content-on-accent: var(--tapsi-color-content-on-accent);
    --color-content-on-negative: var(--tapsi-color-content-on-negative);
    --color-content-on-warning: var(--tapsi-color-content-on-warning);
    --color-content-on-positive: var(--tapsi-color-content-on-positive);
    --color-border-primary: var(--tapsi-color-border-primary);
    --color-border-selected: var(--tapsi-color-border-selected);
    --color-border-focus: var(--tapsi-color-border-focus);
    --color-border-accent: var(--tapsi-color-border-accent);
    --color-border-negative: var(--tapsi-color-border-negative);
    --color-border-positive: var(--tapsi-color-border-positive);
    --color-border-warning: var(--tapsi-color-border-warning);
    --color-border-inverse-primary: var(--tapsi-color-border-inverse-primary);
    --background-image-brand-gradient: var(--tapsi-color-gradient-surface-brand);
    --background-image-brand-light-gradient: var(--tapsi-color-gradient-surface-brand-light);
    --text-body-xs: var(--tapsi-typography-body-xs-size);
    --text-body-xs--line-height: var(--tapsi-typography-body-xs-height);
    --text-body-xs--font-weight: var(--tapsi-typography-body-xs-weight);
    --text-body-sm: var(--tapsi-typography-body-sm-size);
    --text-body-sm--line-height: var(--tapsi-typography-body-sm-height);
    --text-body-sm--font-weight: var(--tapsi-typography-body-sm-weight);
    --text-body-md: var(--tapsi-typography-body-md-size);
    --text-body-md--line-height: var(--tapsi-typography-body-md-height);
    --text-body-md--font-weight: var(--tapsi-typography-body-md-weight);
    --text-body-lg: var(--tapsi-typography-body-lg-size);
    --text-body-lg--line-height: var(--tapsi-typography-body-lg-height);
    --text-body-lg--font-weight: var(--tapsi-typography-body-lg-weight);
    --text-label-xxs: var(--tapsi-typography-label-xxs-size);
    --text-label-xxs--line-height: var(--tapsi-typography-label-xxs-height);
    --text-label-xxs--font-weight: var(--tapsi-typography-label-xxs-weight);
    --text-label-xs: var(--tapsi-typography-label-xs-size);
    --text-label-xs--line-height: var(--tapsi-typography-label-xs-height);
    --text-label-xs--font-weight: var(--tapsi-typography-label-xs-weight);
    --text-label-sm: var(--tapsi-typography-label-sm-size);
    --text-label-sm--line-height: var(--tapsi-typography-label-sm-height);
    --text-label-sm--font-weight: var(--tapsi-typography-label-sm-weight);
    --text-label-md: var(--tapsi-typography-label-md-size);
    --text-label-md--line-height: var(--tapsi-typography-label-md-height);
    --text-label-md--font-weight: var(--tapsi-typography-label-md-weight);
    --text-label-lg: var(--tapsi-typography-label-lg-size);
    --text-label-lg--line-height: var(--tapsi-typography-label-lg-height);
    --text-label-lg--font-weight: var(--tapsi-typography-label-lg-weight);
    --text-headline-xs: var(--tapsi-typography-headline-xs-size);
    --text-headline-xs--line-height: var(--tapsi-typography-headline-xs-height);
    --text-headline-xs--font-weight: var(--tapsi-typography-headline-xs-weight);
    --text-headline-sm: var(--tapsi-typography-headline-sm-size);
    --text-headline-sm--line-height: var(--tapsi-typography-headline-sm-height);
    --text-headline-sm--font-weight: var(--tapsi-typography-headline-sm-weight);
    --text-headline-md: var(--tapsi-typography-headline-md-size);
    --text-headline-md--line-height: var(--tapsi-typography-headline-md-height);
    --text-headline-md--font-weight: var(--tapsi-typography-headline-md-weight);
    --text-headline-lg: var(--tapsi-typography-headline-lg-size);
    --text-headline-lg--line-height: var(--tapsi-typography-headline-lg-height);
    --text-headline-lg--font-weight: var(--tapsi-typography-headline-lg-weight);
    --text-display-sm: var(--tapsi-typography-display-sm-size);
    --text-display-sm--line-height: var(--tapsi-typography-display-sm-height);
    --text-display-sm--font-weight: var(--tapsi-typography-display-sm-weight);
    --text-display-md: var(--tapsi-typography-display-md-size);
    --text-display-md--line-height: var(--tapsi-typography-display-md-height);
    --text-display-md--font-weight: var(--tapsi-typography-display-md-weight);
    --text-display-lg: var(--tapsi-typography-display-lg-size);
    --text-display-lg--line-height: var(--tapsi-typography-display-lg-height);
    --text-display-lg--font-weight: var(--tapsi-typography-display-lg-weight);
}

html {
    direction: rtl;
}

body {
    min-height: 100vh;
    background: var(--tapsi-color-surface-primary);
    color: var(--tapsi-color-content-primary);
    font-size: var(--tapsi-typography-body-md-size);
    line-height: var(--tapsi-typography-body-md-height);
    font-weight: var(--tapsi-typography-body-md-weight);
    font-family: var(--tapsi-typography-font-family);
}


button,
input,
select,
textarea {
    font: inherit;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}
